*.fs.js
bundle.js
.vs/
obj/
bin/
packages/
fable_modules/
paket-files/
node_modules/
*.DotSettings.user
deploy
deployAdmin
trim_icons2.js
launchSettings.json
/data/
*.csproj
Fable.SignalR*/
sum.xml
_global.json
Gen.fs